/prime1/nbproject/private/
/prime1/build/
/prime2/nbproject/private/
/prime2/dist/
/prime2/build/
/prime3/nbproject/private/
/prime3/build/
/evidenceClassExam/jstlLogin/nbproject/private/
/evidenceClassExam/jsfHibernetForm/nbproject/private/
/evidenceClassExam/jsfExam/nbproject/private/
/evidenceClassExam/jsfExam/build/
/evidenceClassExam/jsfExam/dist/
/evidenceClassExam/jstlLogin/build/
/evidenceClassExam/jstlLogin/dist/
/evidenceClassExam/WebApplication1/nbproject/private/
/chp_3/nbproject/private/
/chp_3/build/